<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span><ul class="toc-item"><li><span><a href="#Обработка" data-toc-modified-id="Обработка-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Обработка</a></span></li></ul></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

sns.set_style('darkgrid')
sns.set_palette('muted')

# Для генерации случайной матрицы
from sklearn.datasets import make_spd_matrix

data = pd.read_csv('/datasets/insurance.csv')

display(data.head(), data.info(), data.describe(), data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
Пол                  5000 non-null int64
Возраст              5000 non-null float64
Зарплата             5000 non-null float64
Члены семьи          5000 non-null int64
Страховые выплаты    5000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

None

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

(5000, 5)

In [2]:
data.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

### Обработка

In [3]:
# Переименуем названия столбцов на англ.термины
data.rename(columns={'Пол': 'sex', 'Возраст': 'age', 'Зарплата': 'salary', 'Члены семьи': 'family_members', 
                     'Страховые выплаты': 'insurance_benefits'}, inplace=True)
# Возраст и зарплату приведём к целочисленному типу

to_int = ['age', 'salary']
data[to_int] = data[to_int].astype('int')

In [4]:
data.duplicated().value_counts()

False    4847
True      153
dtype: int64

In [5]:
data.drop_duplicates(inplace=True)
data.reset_index(drop=True)

      sex  age  salary  family_members  insurance_benefits
0       1   41   49600               1                   0
1       0   46   38000               1                   1
2       0   29   21000               0                   0
3       0   21   41700               2                   0
4       1   28   26100               0                   0
...   ...  ...     ...             ...                 ...
4842    0   28   35700               2                   0
4843    0   34   52400               1                   0
4844    0   20   33900               2                   0
4845    1   22   32700               3                   0
4846    1   28   40600               1                   0

[4847 rows x 5 columns]

In [6]:
data.duplicated().sum()

0

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** Качество линейной регрессии не изменится

**Обоснование:** После примения операции умножения матриц - значения признаков в основной матрице (датасете) изменятся, что и является нашей задачей - скрыть (закодировать) числовые признаки.
 
 Новая матрица признаков примет след.вид - $$X' = XP$$
 Тогда  **Ответ:** нет, не изменится. 

**Обоснование:**

Новая матрица признаков:

$$X' = XP$$

Тогда

$$w' = ((XP)^{T} XP)^{-1} (XP)^{T} y = \\ 
     = (P^{T}X^{T} XP)^{-1}P^{T}X^{T}y  = \\ 
     = P^{-1} (X^{T} X)^{-1} (P^{T})^{-1} P^{T}X^{T}y = \\ 
     = P^{-1} w, $$ 
     
так как внутри формулы можно выделить формулу расчета $w$, а

$$(P^{T})^{-1} P^{T} = Е = 1$$

Отсюда следует

$$ a' = X'w' = XPP^{-1}w = XEw = Xw= a $$



**Вывод:** Как видим, предсказания модели не поменялись, а вслед за ними и качество.

## Алгоритм преобразования

**Алгоритм**<font size="3"><br>
1) Сгенерируем случайную матрицу (P), которая будет умножать на матрицу с основными признаками.<br>
2) Делаем проверку матрицы P на обратимость, так как это необходимо исходя из решения<br>
3) Применяем операцию умножения X @ P

**Обоснование**<br>
С помощью операции умножения матриц мы сможем добиться сокрытия признаков от 3х лиц, при этом не теряя качества модели предсказания.

In [7]:
X = data.drop('insurance_benefits', axis=1)
y = data['insurance_benefits']

X_matrix = X.values
# y_matrix = y.values

random_matrix = make_spd_matrix(n_dim=4, random_state=12345)
random_matrix

array([[ 1.37245706, -1.03845957, -0.84389737, -0.26033015],
       [-1.03845957,  2.87886199,  1.67157893,  0.48470484],
       [-0.84389737,  1.67157893,  2.10204907,  0.3257384 ],
       [-0.26033015,  0.48470484,  0.3257384 ,  1.01695329]])

In [8]:
#Проверили на обратимость - обратима!
np.linalg.inv(random_matrix)

array([[ 1.06341364,  0.23949912,  0.22304514,  0.08662924],
       [ 0.23949912,  0.72198481, -0.45683306, -0.13647886],
       [ 0.22304514, -0.45683306,  0.93223396, -0.0237669 ],
       [ 0.08662924, -0.13647886, -0.0237669 ,  1.07816747]])

In [9]:

encoded_X = X_matrix @ random_matrix

encoded_X

array([[-41898.77425404,  83027.79427391, 104329.65044996,
         16177.25417765],
       [-32116.12952008,  63652.91151178,  79955.08302972,
         12401.37258828],
       [-17751.96009184,  35186.64442569,  44191.50625925,
          6854.56284719],
       ...,
       [-28629.41068554,  56725.0722118 ,  71293.54652899,
         11054.25977435],
       [-27617.69863409,  54724.38147088,  68773.91264384,
         10665.09972679],
       [-34290.19795207,  67946.15874176,  85389.47829375,
         13239.3074118 ]])

## Проверка алгоритма

In [10]:
features_train, features_valid, target_train, target_valid = train_test_split(X,
                                                                              y,
                                                                              random_state=12345,
                                                                              test_size=.25
                                                                              )

In [11]:
features_train.shape

(3635, 4)

In [12]:
features_valid.shape

(1212, 4)

In [13]:
#Обучаем на "сырых" данных и считаем метрику R2

model = LinearRegression()
model.fit(features_train, target_train)

predictions = model.predict(features_valid)
r2_raw = r2_score(target_valid, predictions)
print('R2 до преобразования данных:', r2_raw)

R2 до преобразования данных: 0.4230772761583642

Теперь посмотрим изменится ли метрика после преобразования данных или нет.

In [14]:
features_train_transformated , features_valid_transformated , target_train_transformated , target_valid_transformated = train_test_split(encoded_X,
                                                                                     y,
                                                                                     test_size=.25,
                                                                                     random_state=12345)

model_transformated = LinearRegression().fit(features_train_transformated , target_train_transformated)
predictions_transformated = model_transformated.predict(features_valid_transformated)
r2_transformated = r2_score(target_valid_transformated, predictions_transformated)
print('R2 после преобразования данных:', r2_transformated)

R2 после преобразования данных: 0.42307727615868795

Как видим, метрики идентичны друг другу с заданной точностью.